<div class="btn-group">
    <button (click)="firstPage()">First</button>
    <button (click)="prevPage()">Prev</button>
    <button (click)="nextPage()">Next</button>
    <button (click)="lastPage()">Last</button>
    <button (click)="refresh()">Refresh</button>
</div>
<input [formControl]="searchTerm">

<hr>
<table>
    <thead>
    <tr>
        <th>Is First</th>
        <th>Is Last</th>
        <th>Current Page</th>
        <th>Search term</th>
        <th>From</th>
        <th>To</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{isFirst$ | async}}</td>
        <td>{{isLast$ | async}}</td>
        <td>{{currentPage$ | async}}</td>
        <td>{{search$ | async}}</td>
        <td>{{from$ | async}}</td>
        <td>{{to$ | async}}</td>
    </tr>
    </tbody>
</table>

<div *ngIf="isLoading$ | async; else data">Loading...</div>
<ng-template #data>
    <table *ngIf="(dataSource$ | async) as users" class="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.age}}</td>
        </tr>
        </tbody>
    </table>
</ng-template>

